body{
   background-color: #eee !important;
}
.main{
    padding-top: 100px;
    
}
.fabric{
    width: 300px;
    height: 96px;
    background-color: aqua;
}

#text-content{
    width: 125px;
}

.form-text{
    top:23%;
    border-radius: 5px 5px 5px 0px;
    position: absolute;
    left: 55px;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s linear;
}

.form-image{
    top:10%;
    background-color: rgb(64, 64, 71);
    border-radius: 5px 5px 5px 0px;
    position: absolute;
    left: 55px;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s linear;
}

.tool-bar{
    width: 45px;
    height: 80px;
    background-color: rgb(64, 64, 71);
    color: #ffffff;
    gap: 5px;
    border-radius: 5px 0px 5px 5px;
    margin-right: 10px;
}

.text-tool{
    margin-top: 5px;
    padding: 5px 8px 0px 8px;
    border-radius: 5px;
}
/* 
#icon-text:checked ~ .text-tool{
    background-color: rgb(38, 37, 54);
}

*/

.export-json, .import-json, .delete-btn, .console-base64{
    height: 35px;
    transition: 0.25s linear;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px; 
}
.import-json{
    padding-top: 4px;
}
.show{
    display: flex;
    opacity: 1;
    visibility: visible;
} 
#icon-image:checked ~ .image-tool{
    background-color: rgb(38, 37, 54);
}

.image-tool{
    padding: 5px 8px 0px 8px;
    border-radius: 5px;
}
